<div id="popupContent">
    <h2>Promotion</h2>
    <img src="/videos/wallhav.jpg" style="height: 100px; width: 100px;" alt="Promotional Image">
    <p>This is a promotional content.</p>
    <button id="closeButton">Close</button>
</div>
